<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/scripts/logout.js"></script>
    <link rel="stylesheet" href="/styles/bootstrap.min.css"/>
    <link rel="stylesheet" href="/styles/layout.css"/>
    <link rel="stylesheet" href="/styles/header.css"/>
    <link rel="stylesheet" href="/styles/makeYourOwnPassword.css"/>
    <link rel="stylesheet" href="/styles/allAccounts.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap" rel="stylesheet">

</head>

<body>

<header>
    <h1>Password Keeper</h1>
</header>


<main class="main-choose-password-creation">

    <section class="organization-and-categories">
        <h2 class="organization-name">
            Lighthouse Labs
        </h2>

        <div class="all-or-add-container">
            <button id="all-accounts-btn">View All Accounts</button>
            <button id="add-new-account-btn">Add New Account</button>
        </div>
    </section>


    <div class="container-choose-password-creation">
        <h2>Generate random password</h2>

        <form action="/generateRandomPassword" method="post" class="container mt-5">
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="website" name="website" />
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="username" name="username" />
                </div>
                <div class="col">
                    <select class="form-control" name="category" id="">
                        <% for(let category of categories) { %>
                            <option value="<%= category.id %>">
                                <%= category.name %>
                            </option>
                        <% } %>
                    </select>
                </div>
                <!--<div class="col">
                    <input type="password" class="form-control" placeholder="password" name="password" >
                </div>-->
            </div>
            <div class="row mt-3">
                <div class="col-4 offset-4">
                    <button class="btn btn-primary w-100" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>


</main>

<script>
    $(() => {
        $('#all-accounts-btn').on('click', () => {
            window.location.href = '/allAccounts';
        });
        $('#add-new-account-btn').on('click', () => {
            window.location.href = '/addNewAccount';
        });
        $('#choose-your-own-pass-btn').on('click', () => {
            window.location.href = '/makeYourOwnPassword';
        });

    })

</script>
</body>

</html>
